|---
|layout: page
|title: services
|---

<!-- services -->

- var lay2 = "services"

.container
  section(class="#{lay2}")
    |{% for service in site.services %}
    article(class="#{lay2}__article")
      div(class="#{lay2}__img")
        img(src="{{ site.baseurl }}assets/img/{{ service.thumbnail }}" alt="" class="#{lay2}--img")
      div(class="#{lay2}__info")
        h3(class="title #{lay2}__title") {{ service.title }}
        p(class="content #{lay2}__content") {{ service.excerpt }}
        a(href="{{ site.baseurl }}{{ service.url }}").btn Read More
    |{% endfor %}
    
|{% include layout/layout3.html %}
