- var lay5 = "layout5"

section(class="#{lay5}")
    .overflow
    .flex
        div(class="#{lay5}__item")
            img(src="assets/img/l51.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Customer Support
        div(class="#{lay5}__item")
            img(src="assets/img/l52.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Media & Publishing
        div(class="#{lay5}__item")
            img(src="assets/img/l53.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Web Devlopment