- var lay1 = "layout1"

section(class="#{lay1}")
  .container.flex
    article(class="#{lay1}__article")
      h3(class="title #{lay1}__title") Wireframe Kit
      p(class="content #{lay1}__content") Habitasse exercitation auctor hymenaeos nisi tristique, montes dolore arcu cubilia tristique senectus,
        | dis nullam. Quasi quo, rhoncus proin wisi odit pharetra, iure repellat optio? Hendrerit. Diam, ullamcorper 
        | vitae tempora maxime. Primis maiores asperiores incidunt massa maecenas? Hymenaeos velit id incididunt.
        | Nihil, parturient exercitationem aperiam. Pariatur, adipisicing sint tempus, voluptatem ullamco.
    
    aside(class="#{lay1}__aside")
      div(class="#{lay1}__aside__item")
        img(src="assets/img/hero.jpg" alt="" class="#{lay1}__aside__img")
        div(class="#{lay1}__aside__content")
          h5.title Primis maiores asperiores
          p.content parturient exercitationem aperiam. Pariatur, adipisicing sint tempus, voluptatem ullamco.

      div(class="#{lay1}__aside__item")
        img(src="assets/img/hero.jpg" alt="" class="#{lay1}__aside__img")
        div(class="#{lay1}__aside__content")
          h5.title Primis maiores asperiores
          p.content parturient exercitationem aperiam. Pariatur, adipisicing sint tempus, voluptatem ullamco.
