- var lay5 = "layout5"

section(class="#{lay5}")
    .flex
        a(class="#{lay5}__item" href="#")
            .overflow
            img(src="{{ site.baseurl }}assets/img/l51.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Customer Support
            span(class="btn #{lay5}__btn") Read More
        a(class="#{lay5}__item" href="#")
            .overflow
            img(src="{{ site.baseurl }}assets/img/l52.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Media & Publishing
            span(class="btn #{lay5}__btn") Read More
        a(class="#{lay5}__item" href="#")
            .overflow
            img(src="{{ site.baseurl }}assets/img/l53.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Web Devlopment
            span(class="btn #{lay5}__btn") Read More
        a(class="#{lay5}__item" href="#")
            .overflow
            img(src="{{ site.baseurl }}assets/img/l54.jpg" alt="" class="#{lay5}--img")
            h3(class="title #{lay5}__title") Own Showcase
            span(class="btn #{lay5}__btn") Read More
