- var lay3 = "layout3"

section(class="#{lay3}")
  .container.flex
    article(class="#{lay3}__article")
      h3(class="title #{lay3}__title") Vestibulum aliquid eu
      p(class="content #{lay3}__content") Vestibulum aliquid eu harum dictum inventore, placeat aperiam, mi hendrerit
        | minima posuere ullamco occaecati,corporis. Ab pulvinar sit similique leo consequatur!
        | Possimus, dapibus eros asperiores.

    article(class="#{lay3}__article")
      h3(class="title #{lay3}__title") Occaecat tempora porta
      p(class="content #{lay3}__content") Occaecat tempora porta dignissim, tempora dis, voluptas id alias. Laboriosam,
        | posuere lacinia per accusamus iaculis aliquam, class eget, doloribus illum,
        | facilisi ultricies ullamcorper eligendi! Eaque.